<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Actividad</title>

    </style>
</head>

<body>
<div class="header-icons">
        <a href="/actividad"> <i class="fa-solid fa-arrow-left"></i></a> 
        <a href="/logout"><i class="fas fa-door-open"></i></a> 
    </div>
    <h1>EDITAR ACTIVIDAD</h1>

        <form action="/actividad/{{ actividad.dataValues.id }}/editar" method="POST">
        <input type="hidden" name="_method" value="PUT"> <!-- Para indicar que es una solicitud de actualización -->
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ actividad.dataValues.titulo }}">
        <label for="descripcion">Contenido:</label>
        <textarea id="descripcion" name="descripcion">{{ actividad.dataValues.descripcion }}</textarea>
        <label for="multimedia">Multimedia:</label>
        <input type="text" id="multimedia" name="multimedia" value="{{ actividad.dataValues.multimedia }}">
        <button type="submit">Guardar Cambios</button>
        </form>
</body>

<style>
    .header-icons {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000; /* Asegura que los íconos estén por encima del contenido */
    }

    .header-icons i {
        font-size: 24px;
        margin: 0 10px;
        cursor: pointer; /* Cambia el cursor al pasar sobre los íconos */
    }
</style>
<style>
/* Estilos del título */
h1 {
    font-size: 32px; /* Aumentamos el tamaño de la fuente */
    margin-bottom: 20px;
    color: #8fc9cb; /* Color azul */
    text-align: center; /* Centramos el texto */
    text-transform: uppercase; /* Convertimos el texto a mayúsculas */
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
}


/* Estilos del formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Color de fondo */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos de las etiquetas */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* Texto en negrita */
    color:  black; /* Color del texto */
}

/* Estilos de los campos de entrada */
input[type="text"],
textarea {
    width: calc(100% - 22px); /* Ancho menos el ancho del borde y el relleno */
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid  #8fc9cb; /* Borde */
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px; /* Tamaño de fuente */
}

/* Estilos del botón */
button[type="submit"] {
    width: 100%;
    padding: 14px 0;
    background-color:  #8fc9cb;;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color:  #8fc9cb; /* Cambio de color al pasar el ratón */
}
</style>